<template>
  <span v-if="course && course.description">{{course.description}}</span>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({})
export default class CourseDescription extends Vue {
  @Prop(Number) protected readonly edmsId;

  get course() {
    return this.$store.state.courses.all[this.edmsId];
  }
  private mounted() {
    // this.$store.dispatch('courses/getCourseInfo', this.edmsId);
  }
}
</script>
<style scoped>

</style>