<template>
  <span >
    <span v-if="course && course.title">{{course.title}}</span>
    <v-progress-circular v-else small indeterminate color="grey" :width="3" :size="15"></v-progress-circular>
  </span>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({})
export default class CourseTitle extends Vue {
  @Prop(Number) protected readonly edmsId;

  get course() {
    return this.$store.state.courses.all[this.edmsId];
  }
  private mounted() {
    this.$store.dispatch('courses/getCourseInfo', this.edmsId);
  }
}
</script>
<style scoped>

</style>