<template>
  <div>
    <div ref="progressGraph"></div>
  </div>
</template>


<script lang="ts">

import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import Highcharts from 'highcharts';

@Component({})
  export default class StudentClassroomProgressGraph extends Vue {
    @Prop(String) protected readonly userId;
    @Prop(Number) protected readonly classroomId;

    private graph;

    @Watch('progress')
    private updateChart(newVal: any) {
      this.graph.series[0].setData(newVal, true);
    }

    get courses() {
      return this.$store.getters['courses/userCoursesByClassroom']( this.userId, this.classroomId );
    }
    get progress() {
      const self = this;

      const res = this.courses.reduce((obj, item) => {
        if (!item.date_end || item.status === 'Validation') {
          return obj;
        }
        // Firefox interprets dates in the format 01-JUL-2019 as a negative year!
        item.date_end = item.date_end.replace(/-/g, '/');
        const completedDate = new Date(item.date_end).getTime();
        if (!obj[completedDate]) {
          obj[completedDate] = 1;
        } else {
          obj[completedDate] += 1;
        }
        return obj;
      }, {});
      const sortedKeys = Object.keys(res).sort();

      const tmp: any[] = [];
      let completedCount = 0;
      for (const i of sortedKeys) {
        completedCount += res[i];
        tmp.push([parseInt(i, 10), completedCount]);
      }

      return tmp;

    }

    private mounted() {

      this.$store.dispatch('courses/getUserCourses', {userId: this.userId});
      const vm = this;
      const el = this.$refs['progressGraph'] as HTMLElement;

      this.graph = new Highcharts.Chart(el, {
          time: {
            useUTC: false,
          },
          title: {
              text: '',
          },
          xAxis: {
              type: 'datetime',
          },
          yAxis: {
              min: 0,
              title: {
                  text: '',
              },
          },
          series: [{
            step: 'left',
            name: 'Completed',
            color: '#008000',
            data: vm.progress,
            type: 'line',
          }],
      });
    }
  }
</script>

<style scoped>
.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #e0e1e2;
  border-radius: .28571429rem;
  overflow: hidden;
}
.progress-segment {
  height: 20px;
  display: inline-block;
  position: relative;
}
</style>
