<template>
      <v-card>
        <v-toolbar color="secondary" dark>
          <v-toolbar-title>Add Trainings</v-toolbar-title>
        </v-toolbar>
        <v-form @submit.prevent="searchTrainings()">
          <v-container>
            <v-layout>
              <v-flex md4>
                <v-select
                  v-model="groupSelected"
                  :items="trainingGroupsArray"
                  item-text="group_name"
                  item-value="id"
                  clearable
                  label="Groups"
                  @change="searchResults = []"
                ></v-select>
              </v-flex>
              <v-flex md5>
                <v-text-field
                  v-model="searchText"
                  label="Search Title or Description"
                  clearable
                  @input="searchResults = []"
                ></v-text-field>
              </v-flex>
              <v-flex md2>
                <v-checkbox
                  v-model="myTrainingsOnly"
                  label="Only My Trainings"
                  @change="searchResults = []"
                ></v-checkbox>
              </v-flex>
              <v-flex md1>
                <v-btn icon color="primary" type="submit" :disabled="!searchText && !myTrainingsOnly && !groupSelected" >
                  <v-icon>mdi-magnify</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
        <v-btn @click="addAll()" v-if="searchResults.length" small tile color="primary" style="margin-left:20px;">Add All</v-btn>
        <v-list two-line>
          <template v-for="(item, index) in searchResults">
            <v-list-item
              :key="item.id"
              ripple
              @click="addTraining(item.id)"
            >
              <v-list-item-content>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
                <v-list-item-subtitle>{{ item.description }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-divider
              v-if="index + 1 < searchResults.length"
              :key="index"
            ></v-divider>
          </template>
        </v-list>
      </v-card>
   
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

interface Training {
  id: number;
}
@Component({})

export default class StudentClassroomEditTrainingModal extends Vue {
  @Prop(Array) protected readonly userIds;
  @Prop(Number) protected readonly classroomId;
  private searchText = '';
  private myTrainingsOnly = false;
  private searchResults: Training[] = [];
  private groupSelected: number | null = null;

  get currentUser() {
    return this.$store.state.users.all[this.$store.state.users.current];
  }
  get trainingGroupsArray() {
    return this.$store.getters['groups/trainingGroupsArray'];
  }
  get userCoursesByClassroom() {
    if (this.userIds.length === 1) {
      return this.$store.getters['courses/userCoursesByClassroom']( this.userIds[0], this.classroomId );
    }
    return [];
  }
  get userTrainings() {
    return [ ...new Set(this.userCoursesByClassroom.map((item) => item.training_id))];
  }
  private searchTrainings() {
    const admin = this.myTrainingsOnly ? this.currentUser.user_id : null;
    this.$store.dispatch(
      'trainings/searchTrainings',
      {admin, text: this.searchText, groupId: this.groupSelected})
    .then((res) => {
      // Remove trainings already assigned to user in this classroom
      this.searchResults = res.filter((c) => !this.userTrainings.includes(c.id));
    });
  }
  private addTraining(trainingId) {
    this.userIds.forEach((userId) => {
      this.$store.dispatch(
        'courses/addUserTrainingCourses',
        {classroomId: this.classroomId, userId, trainingId})
      .then(() => {
        this.searchResults = this.searchResults.filter((c: any) => c.id !== trainingId);
      });
    });
  }
  private addAll() {
    this.searchResults.forEach((training) => {
      this.addTraining(training.id);
    });
    this.$emit('closeModal');
  }
  private mounted() {
    this.$store.dispatch('groups/getAllGroups');

  }
}
</script>