<template>
  <div>
    <div v-show="courses.length" ref="progressChart"></div>
    <v-chip v-show="!courses.length" small outlined color="orange">No Courses</v-chip>
  </div>
</template>

<script lang="ts">

  import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
  import { groupBy } from 'lodash';
  import Highcharts from 'highcharts';
  
  interface Progress {
    y: any;
    color: string;
    name: string;
  }
  
  @Component({})
  export default class StudentClassroomProgressChart extends Vue {
    @Prop(String) protected readonly userId;
    @Prop(Number) protected readonly classroomId;

    private chart;

    @Watch('progress')
    private updateChart(newVal: any) {
      this.chart.series[0].setData(newVal, true);
    }


    get courses() {
      return this.$store.getters['courses/userCoursesByClassroom']( this.userId, this.classroomId );
    }
    get TotalCourses() {
      return this.courses.length;
    }
    get progress() {
      const self = this;
      const res: Progress[] = [];
      const tmp = groupBy(this.courses, (c) => c.status);
      for (const status of Object.keys(tmp)) {
        const obj: { y: any, color: string, name: string; } = {
          y: tmp[status].length,
          color: tmp[status][0].color,
          name: status,
        };
        res.push(obj);
      }
      return res;
    }

    private mounted() {
      const vm = this;
      const el = this.$refs['progressChart'] as HTMLElement;

      this.chart = new Highcharts.Chart(el, {
        chart: {
          height: 300,
          plotShadow: false,
          type: 'pie',
        },
        tooltip: {
            headerFormat: '',
            pointFormat: '{point.name}: <b>{point.y}</b>',
        },
        title: undefined,
        plotOptions: {
          pie: {
            size: '100%',
            allowPointSelect: false,
            dataLabels: {
              enabled: false,
            },
            point: {
              events: {
                click(this: any) {
                  vm.$emit('select', this.name);
                },
              },
            },
          },
        },
        series: [{
          type: 'pie',
          data: vm.progress,
        }],
      });

    }

  }
</script>
<style scoped>

</style>