<template>
  <div>
    <div v-if="courses.length" class="progress-bar">
      <v-tooltip left v-for="(val, index) in progress" :key="index" :color="val.color">
        <template v-slot:activator="{ on }">
          <div v-on="on" class="progress-segment" :style="{ 'background-color': val.color, width: val.percent }"></div>
        </template>
        <span>{{val.label}}: {{val.count}}</span>
      </v-tooltip>
    </div>
    <v-chip v-else small outlined color="orange" style="cursor:pointer;">No Courses</v-chip>
  </div>
</template>


<script lang="ts">

import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import { groupBy } from 'lodash';

@Component({})
  export default class StudentClassroomProgressBar extends Vue {
    @Prop(String) protected readonly userId;
    @Prop(Number) protected readonly classroomId;

    get courses() {
      return this.$store.getters['courses/userCoursesByClassroom']( this.userId, this.classroomId );
    }
    get TotalCourses() {
      return this.courses.length;
    }
    get progress() {
      const self = this;
      const res: any[] = [];
      const tmp = groupBy(this.courses, (c) => c.status);
      for (const status of Object.keys(tmp)) {
        res.push({
          percent: 100 * tmp[status].length / self.TotalCourses + '%',
          count: tmp[status].length,
          color: tmp[status][0].color,
          label: status,
        });
      }
      const sorting = {
        Overdue: 1,
        Expired: 2,
        New: 3,
        Started: 4,
        Validation: 5,
        Completed: 6,
      };
      return res.sort((a, b) => sorting[a.label] - sorting[b.label]);
    }

    private mounted() {
      this.$store.dispatch('courses/getUserCourses', {userId: this.userId});
    }
  }
</script>

<style scoped>
.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #e0e1e2;
  border-radius: .28571429rem;
  overflow: hidden;
}
.progress-segment {
  height: 20px;
  display: inline-block;
  position: relative;
}
</style>
