<template>
  <div style="margin-bottom: 15px;">
    <div class="progress-bar" @click="showCourses = !showCourses">
      <v-tooltip left v-for="(val, index) in progress" :key="index" :color="val.color">
        <template v-slot:activator="{ on }">
          <div v-on="on" class="progress-segment" :style="{ 'background-color': val.color, width: val.percent }"></div>
        </template>
        <span>{{val.label}}: {{val.count}}</span>
      </v-tooltip>
    </div>
  </div>
</template>

<script lang="ts">

  import { Component, Vue, Prop } from 'vue-property-decorator';
  import { groupBy } from 'lodash';

  @Component({})
  export default class StudentTrainingProgressBar extends Vue {
    @Prop(String) protected readonly userId;
    @Prop(Number) protected readonly trainingId;
    @Prop( { type: Number, required: true } ) protected readonly classroomId;
    private showCourses = false;

    get courses() {
      return this.$store.getters['courses/userCoursesByTraining']( this.userId, this.trainingId, this.classroomId );
    }
    get TotalCourses() {
      return this.courses.length;
    }
    get progress() {
      const self = this;
      const res: any[] = [];
      const tmp = groupBy(this.courses, (c) => c.status);
      for (const status of Object.keys(tmp)) {
        res.push({
          percent: 100 * tmp[status].length / self.TotalCourses + '%',
          count: tmp[status].length,
          color: tmp[status][0].color,
          label: status,
        });
      }
      const sorting = {
        Overdue: 1,
        Expired: 2,
        New: 3,
        Started: 4,
        Validation: 5,
        Completed: 6,
      };
      return res.sort((a, b) => sorting[a.label] - sorting[b.label]);
    }
  }
</script>
<style scoped>
.progress-bar {
  width: 100%;
  height: 15px;
  background-color: #e0e1e2;
  border-radius: .28571429rem;
  overflow: hidden;
}
.progress-segment {
  height: 15px;
  display: inline-block;
  position: relative;
}
</style>