<template>
  <h3><slot></slot>{{trainingTitle}}</h3>   
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({})
export default class TrainingDetails extends Vue {
  @Prop(Number) protected readonly trainingId;

  get training() {
    return this.$store.state.trainings.all[this.trainingId];
  }
  get trainingTitle() {
    if (this.training ) {
      return this.training.title;
    }
  }
  private mounted() {
    this.$store.dispatch('trainings/getTraining', this.trainingId );
  }
}
</script>