<template>
  <div>
    <ul>
      <li v-for="course in sortedCourses" :key="course.edms">
        <a :href="`https://edms.cern.ch/document/` + course.edms" target="_blank">
          <course-title :edmsId="course.edms" :simple="true"></course-title>
        </a>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import CourseTitle from '@/components/CourseTitle.vue';

@Component({
  components: {
    CourseTitle,
  },
})
export default class TrainingCourses extends Vue {
  @Prop(Array) protected readonly courses;

  get sortedCourses() {
    return this.courses.sort((a, b) => a.position - b.position );
  }
}
</script>