<template>

  <v-card>
    <v-card-text style="height:100%">
      <v-container grid-list-md>
        <v-layout wrap justify-space-around>
          <v-flex xs12 sm6>
            <v-text-field v-model="title" label="Title *" placeholder="New Training Title" required></v-text-field>
          </v-flex>
          <v-flex xs12 sm3>
            <v-autocomplete
              v-model="responsible"
              :placeholder="responsibleName"
              label="Responsible *"
              :items="userNames"
              :search-input.sync="searchUserByName"
              item-text="display_name"
              item-value="user_id"
            >
            </v-autocomplete>
          </v-flex>
          <v-flex xs12 sm3>
            <v-select
              v-model="selectedGroups"
              :items="groups"
              item-text="group_name"
              item-value="id"
              label="Groups *"
              multiple
              required
            >
              <template v-slot:append-item>
                <v-divider class="mt-2"></v-divider>
                <v-list-item>
                  <v-text-field 
                    v-model="newGroupName"
                    label="Add New Group"
                    solo
                    flat
                    prepend-icon="mdi-plus-box-outline"
                    @click:prepend="addNewGroup()"
                    @keydown.enter="addNewGroup()"
                  ></v-text-field>
                </v-list-item>
              </template>
              <template v-slot:item="{ index, item, attrs }">
                <v-list-item-action>
                  <v-icon v-if="attrs.inputValue">mdi-checkbox-marked</v-icon>
                  <v-icon v-else>mdi-checkbox-blank-outline</v-icon>
                </v-list-item-action>
                {{ item.group_name }}
                <v-spacer></v-spacer>
                <v-list-item-action v-if="item.admin === currentUser" @click.stop="deleteGroup(item.id)">
                  <v-icon>mdi-trash-can-outline</v-icon>
                </v-list-item-action>
              </template>
            </v-select>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              v-model="description"
              label="Description"
            ></v-text-field>
          </v-flex>
          <v-flex>
            <v-layout>
              <v-flex md6 xs12>
                <v-list two-line dense style="overflow-y: auto; height: 50vh;">
                <draggable v-model="courses" handle=".handle">
                  <v-list-group
                    v-for="(item, index) in courses"
                    :key="index"
                    append-icon=''
                  >
                  <template v-slot:activator >
                    <v-list-item >
                      <v-icon class="handle" color="grey">mdi-sort</v-icon>&nbsp;
                      <v-btn fab text small @click="removeCourse(item)">
                        <v-icon color="grey">mdi-delete</v-icon>
                      </v-btn>
                      <v-list-item-content>
                        <v-list-item-title class="no-break-white-space">
                          <course-title :edmsId="item"/>
                        </v-list-item-title>
                        <v-list-item-subtitle class="no-break-white-space">
                          <course-description :edmsId="item"/>
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </template>
                  </v-list-group>
                </draggable>
                </v-list>
              </v-flex>
              <v-flex md6 xs12>
                <div v-if="loadFRomEDMS">
                  <v-container fluid style="position:relative;">
                    <v-btn 
                      icon 
                      small 
                      color="primary" 
                      @click="loadFRomEDMS = false"
                      style="position:absolute; top:0; right:0;"
                    >
                      <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-layout align-center justify-space-between>
                      <v-flex md8>
                        <v-text-field
                          v-model="EDMSFolder"
                          :rules = "[rules.EDMSFolderFormat]"
                          prepend-icon="mdi-folder"
                          label="EDMS Folder"
                          hint="CERN-XXX"
                        >
                        </v-text-field>
                      </v-flex>
                      <v-flex md1>
                        <v-btn small icon @click="searchEDMSFolder()" :disabled="!EDMSFolder">
                          <v-icon>mdi-magnify</v-icon>
                        </v-btn>
                      </v-flex>
                      <v-flex md3>
                        <v-btn depressed tile href="https://edms.cern.ch/edmsui/project/CERN-0000161962" target="_blank">Browse EDMS</v-btn>
                      </v-flex>
                    </v-layout>
                    <v-layout align-center>
                      <v-flex md4>
                        <v-btn small depressed v-if="newEDMSCourses.length" @click="addAllNewEDMSCourses()">
                          <v-icon>mdi-cloud-download</v-icon>
                          &nbsp; Download All
                        </v-btn>
                      </v-flex>
                    </v-layout>
                  </v-container>
                  <div v-if="searchingEDMSFolder">
                    <v-progress-circular
                      :size="50"
                      color="primary"
                      indeterminate
                    ></v-progress-circular>
                  </div>
                  <div v-if="EDMSFolder && !searchingEDMSFolder && !newEDMSCourses.length">
                    Nothing New Here!
                  </div>
                  <v-list two-line dense style="overflow-y: auto; height: 40vh;">
                    <v-list-group
                      v-for="item in newEDMSCourses"
                      :key="item.edmsId"
                      append-icon=''
                      class="list-item-border"
                    >
                    <template v-slot:activator >
                      <v-list-item @click="addNewEDMSCourse(item.edmsId)">
                        <v-btn fab text small >
                          <v-icon color="grey">mdi-cloud-download</v-icon>
                        </v-btn>
                        <v-list-item-content>
                          <v-list-item-title>
                            {{ item.title }}
                          </v-list-item-title>
                          <v-list-item-subtitle >{{ item.description }}</v-list-item-subtitle>
                        </v-list-item-content>
                      </v-list-item>
                    </template>
                    </v-list-group>
                  </v-list>
                </div>
                <div v-else>
                  <v-form>
                    <v-layout align-center justify-space-between>
                      <v-flex d-flex xs8>
                        <v-text-field
                          v-model="searchText"
                          label="Search in Course Title"
                        ></v-text-field>
                      </v-flex>
                      <v-flex d-flex xs4>
                        <v-layout wrap  align-center>
                          <v-flex d-flex xs12>
                            <v-icon color="primary" @click="loadFRomEDMS = true">mdi-cloud-download</v-icon>
                            <v-btn text small color="primary"  @click="loadFRomEDMS = true">
                              Download from EDMS
                            </v-btn>
                          </v-flex>
                          <v-flex d-flex xs12>
                            <v-checkbox
                              v-model="unusedOnly"
                              label="Unused Only"
                              @change="getAllCoursesInfo()"
                            ></v-checkbox>
                          </v-flex>
                        </v-layout>
                      </v-flex>
                    </v-layout>
                  </v-form>
                  <v-progress-linear :value="loadingProgress"></v-progress-linear>
                  Showing {{filteredCourses.length}} of {{allCoursesSize}} courses
                  <v-list two-line dense style="overflow-y: auto; height: 40vh;">
                    <v-list-group
                      v-for="item in filteredCourses"
                      :key="item.edmsId"
                      append-icon=''
                    >
                    <template v-slot:activator >
                      <v-list-item >
                        <v-btn fab text small @click="addCourse(item.edmsId)">
                          <v-icon color="grey">mdi-plus</v-icon>
                        </v-btn>
                        <v-btn v-if="item.trainings === 0" fab text small @click="deleteTraining(item.edmsId)">
                          <v-icon color="grey">mdi-delete</v-icon>
                        </v-btn>
                        <v-list-item-content>
                          <v-list-item-title class="no-break-white-space">
                            {{ item.title }}
                          </v-list-item-title>
                          <v-list-item-subtitle class="no-break-white-space">{{ item.description }}</v-list-item-subtitle>
                        </v-list-item-content>
                      </v-list-item>
                    </template>
                    </v-list-group>
                  </v-list>
                </div>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>
      <small>* Required Field</small>
    </v-card-text>
    <v-divider></v-divider>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" :disabled="!newTrainingIsValid" text @click="saveTraining()">Save</v-btn>
    </v-card-actions>
  </v-card>
   
</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
import axios from 'axios';
import { debounce } from 'lodash';
import draggable from 'vuedraggable';
import CourseTitle from '@/components/CourseTitle.vue';
import CourseDescription from '@/components/CourseDescription.vue';

interface Course {
  edmsId: number;
}

@Component({
  components: {
    draggable,
    CourseTitle,
    CourseDescription,
  },
  watch: {
    searchUserByName: debounce(function(this: any, newVal, oldVal) {
      this.searchByName(newVal);
    }, 500),
  },
})

export default class TrainingsCreateEditModal extends Vue {

  @Prop({ required: false, type: Number }) protected readonly trainigId;

  private title = '';
  private responsible = '';
  private description = '';
  private searchUserByName = '';
  private responsibleName = '';
  private searchText = '';
  private EDMSFolder = '';
  private newGroupName = '';
  private editedGroupName = '';
  private userNames: string[] = [];
  private selectedGroups: number[] = [];
  private courses: number[] = [];
  private newEDMSCourses: Course[] = [];
  private loadingCoursesInfo = false;
  private searchingEDMSFolder = false;
  private unusedOnly = true;
  private loadFRomEDMS = false;
  private searchGroup = null;
  private rules = {
    EDMSFolderFormat: (val) => {
      const regex = RegExp('CERN-[0-9]*$');
      return regex.test(val) || 'Not a valid EDMS Folder';
    },
  };
  get training() {
    if (this.trainigId) {
      return this.$store.state.trainings.all[this.trainigId];
    }
  }
  get currentUser() {
    return this.$store.state.users.current;
  }
  get filteredCourses() {
    let courses = this.unusedOnly ?
      this.$store.getters['courses/unassigned'] : Object.values(this.$store.state.courses.all);
    courses = courses.filter((c) => {
      return c.title && !this.courses.includes(c.edmsId);
    });
    if (this.searchText) {
      courses = courses.filter((c) => {
        return c.title.toLowerCase().includes(this.searchText.toLowerCase());
      });
    }
    return courses;
  }
  get allCoursesSize() {
    return Object.values(this.$store.state.courses.all).length;
  }
  get loadingProgress() {
    return 100 * this.filteredCourses.length / ( this.allCoursesSize - this.courses.length);
  }

  @Watch('training')
  private initTraining(newVal: any) {
    if (newVal) {
      const responsible = this.$store.state.users.all[newVal.responsible];
      this.title = newVal.title;
      this.responsible = responsible.user_id;
      this.responsibleName = responsible.display_name;
      this.description = newVal.description;
      this.selectedGroups = newVal.groups;
      this.courses = [];
      newVal.courses.forEach((course) => {
        // this.$store.dispatch('courses/getCourseInfo', course.edms);
        this.courses.push(course.edms);
      });
    } else {
      this.title = '';
      this.responsible = this.$store.state.users.current;
      this.responsibleName = this.$store.state.users.all[this.$store.state.users.current].display_name;
      this.description = '';
      this.selectedGroups = [];
      this.courses = [];
    }
  }
  get groups() {
    if (this.$store.state.groups.all) {
      return Object.values(this.$store.state.groups.all);
    }
  }
  get newTrainingIsValid() {
    return this.title && this.responsible && this.courses.length && this.selectedGroups.length;
  }
  private deleteGroup(groupId) {
    this.$store.dispatch('groups/deleteGroup', groupId);
  }
  private getAllCoursesInfo() {
    this.loadingCoursesInfo = true;
    this.$store.dispatch('courses/getAllCoursesInfo').then(() => {
      this.loadingCoursesInfo = false;
    });
  }
  private addCourse(courseId: number) {
    this.courses.push(courseId);
    this.$store.dispatch('courses/increaseCourseTrainingCount', courseId);
  }
  private removeCourse(courseId) {
    this.courses = this.courses.filter((c) => c !== courseId);
    this.$store.dispatch('courses/decreaseCourseTrainingCount', courseId);
  }
  private searchByName(newVal: string) {
    const self = this;
    if (newVal && newVal.length > 1) {
     axios
      .get(`/search/users?users=true&egroups=false&name=${newVal}`,
      {
        withCredentials: true,
      })
      .then((response) => {
        self.userNames = response.data;
      })
      .catch((error) => {
        return Promise.reject(new Error(error));
      });
    }
  }
  private saveTraining() {
    const training = {
      title: this.title,
      description: this.description,
      responsible: this.responsible,
      courses: this.courses,
      groups: this.selectedGroups,
    };
    if (this.trainigId) {

      const prevCourseList = this.training.courses.map((c) => c.edms);
      const deletedCourses = prevCourseList.filter((c) => this.courses.indexOf(c) < 0);

      if ( deletedCourses.length ) {
        // reset user's courses progress as it might be affected by the removing of a course from the training
        this.$store.dispatch('courses/resetCourses');
      }

      // Edit training
      this.$store.dispatch(
        'trainings/editTraining',
        {
          trainingId: this.trainigId,
          training,
        })
        .then((response) => {
          this.initTraining(null);
          this.$emit('closeModal');
        });
    } else {
      // Create training
      this.$store.dispatch('trainings/addTraining', training).then(() => {
        this.initTraining(null);
        this.$emit('closeModal');
      });
    }
  }
  private searchEDMSFolder() {
    this.searchingEDMSFolder = true;
    const EDMSFolder  = this.EDMSFolder.trim().toUpperCase();
    this.$store.dispatch('courses/getEDMSFolderCourses', EDMSFolder).then((res) => {
      this.newEDMSCourses = res;
      this.searchingEDMSFolder = false;
    });
  }
  private addNewEDMSCourse(edmsId) {
    this.$store.dispatch('courses/downloadEDMSCourse', edmsId).then(() => {
      // remove from newEDMSCourses
      this.newEDMSCourses = this.newEDMSCourses.filter((course) => course.edmsId !== edmsId);
    });
  }
  private addAllNewEDMSCourses() {
    this.newEDMSCourses.forEach((course) => {
      this.addNewEDMSCourse(course.edmsId);
    });
  }
  private addNewGroup() {
    if (!this.newGroupName) {
      return;
    }
    this.$store.dispatch('groups/addGroup', this.newGroupName).then((groupId: number) => {
      this.selectedGroups.push(groupId); // Add new group to selection
      this.newGroupName = ''; // Reset input field
    });
  }
  private deleteTraining(edmsId) {
    this.$store.dispatch('courses/deleteCourse', edmsId);
  }
  private mounted() {
    this.$store.dispatch('courses/getAllCourses');
    this.initTraining(this.training);
  }
}
</script>
<style scoped>
.handle {
  cursor: ns-resize;
}
.no-break-white-space {
  white-space: normal!important;
}
</style>