<template>
  <span>
    <slot></slot>
    {{userName}}
  </span>   
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({})
export default class UserName extends Vue {
  @Prop(String) protected readonly userId!: string;

  get user() {
    return this.$store.state.users.all[this.userId];
  }
  get userName() {
    if (this.user && this.user.display_name) {
      return this.user.display_name;
    }
    return this.userId;
  }
  private mounted() {
    this.$store.dispatch('users/getUserInfo', this.userId );
  }
}
</script>