<template>
  <v-app>

    <v-app-bar app dark flat dense>
      <v-toolbar-title>
        Training <span class="font-weight-thin">V3</span>
      </v-toolbar-title>
      <v-toolbar-items>
        <v-btn text @click="goTo('trainings')">Trainings</v-btn>
        <v-btn v-if="singleClassroom" text @click="goToClass(singleClassroom)">My ClassRoom</v-btn>
        <v-menu v-if="Object.values(classrooms).length > 1" :nudge-width="100">
          <template v-slot:activator="{ on }">
            <v-btn text v-on="on">
              <span>{{selectedClassroomName || 'classrooms'}}</span>
              <v-icon >mdi-menu-down</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              v-for="item in classrooms"
              :key="item.id"
            >
            <v-list-item-title @click="goToClass(item.id)" style="cursor:pointer;">{{item.name}}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-btn v-if="userName" text>{{userName}}</v-btn>
      <v-btn v-else text @click="login()">Log In</v-btn>
    </v-app-bar>
    <v-content >
      <router-view/>
    </v-content>
      <a href="https://its.cern.ch/jira/secure/RapidBoard.jspa?rapidView=4412&view=detail&quickFilter=7493"
        style="position:absolute; bottom:10px; right:10px; text-decoration: none;"
        target="_blank">
        <v-icon color="red">mdi-bug</v-icon>
      </a>
  </v-app>
</template>


<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  @Component({})
  export default class DefaultLayout extends Vue {

    get user() {
      return this.$store.state.users.all[this.$store.state.users.current];
    }
    get classrooms() {
      return this.$store.state.classrooms.all;
    }
    get singleClassroom() {
      if (this.classrooms && Object.values(this.$store.state.classrooms.all).length === 1) {
        return (Object as any).values(this.$store.state.classrooms.all)[0]['id'];
      }
    }
    get selectedClassroom() {
      return this.$route.params.classroomId;
    }
    get selectedClassroomName() {
      if (this.classrooms && this.selectedClassroom && this.classrooms[this.selectedClassroom]) {
        return this.classrooms[this.selectedClassroom].name;
      }
    }
    get userName() {
      if (this.user) {
        return this.user.display_name;
      }
    }
    private goTo(route, params) {
      this.$router.push({ name: route, params});
    }
    private goToClass(classroomId) {
      if (this.classrooms[classroomId].admins.includes(this.user.user_id)) {
        this.$router.push({ name: 'classroom', params: {classroomId} });
      } else {
        this.$router.push({ name: 'studentClassroom', params: {classroomId, userId: this.user.user_id} });
      }
    }
    private mounted() {
      this.$store.dispatch('users/getCurrentUser').then((user) => {
        if (user) {
          this.$store.dispatch('users/getUserClassrooms', user);
        }
      });
    }
    private login() {
      const login = `/backend/login/login.php`;
      const nextUrl = `${window.location.href}`;
      const loginUrl = `${login}?next=${encodeURIComponent(nextUrl)}`;
      // Redirect to login script
      // The script will redirect back to the page
      window.location.href = loginUrl;
    }
  }
</script>

