<template>
  <div>
    <v-container v-if="isClassroomAdmin" fluid grid-list style="padding-top:40px;">
      <div style="position:absolute; top:2px; left:2px">
        <v-btn  small tile elevation="0"  @click="dialogAddUser = true" >
          <v-icon >mdi-account-plus</v-icon>
          Add Student
        </v-btn>

        <v-dialog width="50%" v-model="trainingModal">
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" small tile elevation="0" >
              <v-icon >mdi-book-plus-multiple</v-icon>
              Add Training
            </v-btn>
          </template>
          <student-classroom-edit-training-modal :userIds="users"  :classroomId="classroomId" @closeModal="trainingModal = false"/>
        </v-dialog>

      </div>
      <v-btn v-if="viewMode === 'cards'" color = "grey" small text icon @click="viewMode = 'list'" style="position:absolute; top:2px; right:2px">
        <v-icon >mdi-view-list</v-icon>
      </v-btn>
      <v-btn v-if="viewMode === 'list'" color = "grey" small text icon @click="viewMode = 'cards'" style="position:absolute; top:2px; right:2px">
        <v-icon >mdi-view-module</v-icon>
      </v-btn>
      <table v-if="viewMode === 'list'" width="100%">
          <router-link tag="tr" style="cursor:pointer;" v-for="userId in users" :key="userId" :to="{ name: 'studentClassroomEdit', params: { userId, classroomId }}">
            <td style="width:10%;">
                <v-btn text small style="width:90%;">
                  <user-name  :userId="userId" style="font-size:1.1rem; "/>
                </v-btn>
            </td>
            <td >
              <v-btn style="white-space: nowrap;" color="grey" fab text small @click.stop="deleteClassroomUserModal(userId)">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </td>
            <td style="width: 100%">
              <student-classroom-progress-bar :userId="userId" :classroomId="classroomId"/>
            </td>
          </router-link>
      </table>
      <v-layout row wrap v-if="viewMode === 'cards'">
        <v-flex grow pa-1 v-for="userId in users" :key="userId" >
            <v-card height="100%" class="card-hover" width="300" >
              <v-toolbar-title style="padding: 5px;">
                <router-link tag="span" :to="{ name: 'studentClassroomEdit', params: { userId, classroomId }}">
                  <v-btn text width="80%" class="no-overflow">
                    <user-name :userId="userId" style="font-size:1.2rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"/>
                  </v-btn>
                </router-link>
                <v-btn fab text small @click="deleteClassroomUserModal(userId)">
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </v-toolbar-title>
              <v-card-text >
                <student-classroom-progress-chart :userId="userId" :classroomId="classroomId"/>
              </v-card-text>
            </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <v-dialog v-model="dialogAddUser" max-width="500px">
        <v-card>
          <v-card-text>
            <v-combobox
              v-model="newStudent"
              label="Search User"
              :items="userNames"
              :search-input.sync="searchUserByName"
              hide-no-data
              item-text="display_name"
              item-value="user_id"
              :return-object="true"
              no-filter
              clearable
            >
            </v-combobox>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="addStudent()">Add User</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="dialogDeleteUser" max-width="290">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="orange" text @click="dialogDeleteUser = false">No, Cancel</v-btn>
            <v-btn color="primary" text @click="deleteClassroomUser()">Yes, Remove User</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import StudentClassroomProgressBar from '@/components/StudentClassroomProgressBar.vue';
import StudentClassroomEditTrainingModal from '@/components/StudentClassroomEditTrainingModal.vue';
import UserName from '@/components/UserName.vue';
import StudentClassroomProgressChart from '@/components/StudentClassroomProgressChart.vue';
import axios from 'axios';
import { debounce } from 'lodash';

@Component({
  components: {
    StudentClassroomProgressBar,
    UserName,
    StudentClassroomProgressChart,
    StudentClassroomEditTrainingModal,
  },
  watch: {
    searchUserByName: debounce(function(this: any, newVal, oldVal) {
      this.searchByName(newVal);
    }, 500),
  },
})
export default class Classroom extends Vue {
  private dialogAddUser = false;
  private dialogDeleteUser = false;
  private newStudent = '';
  private selectedUser = '';
  private userNames = [];
  private searchUserByName = '';
  private trainingModal = false;

  get viewMode() {
    return this.$store.state.classrooms.viewMode;
  }
  set viewMode(newVal) {
    this.$store.dispatch('classrooms/setViewMode', newVal);
  }
  get classroomId() {
    return parseInt(this.$route.params.classroomId, 10);
  }
  get users() {
    if (this.$store.state.classrooms.all[this.classroomId]) {
      return this.$store.state.classrooms.all[this.classroomId].users;
    }
  }
  get isClassroomAdmin() {
    if (this.$store.state.classrooms.all[this.classroomId]) {
      return this.$store.state.classrooms.all[this.classroomId].admins.includes(this.$store.state.users.current);
    }
  }
  private addClassroomUser(userId) {
    this.$store.dispatch(
      'classrooms/addClassroomUser',
      {
        classroomId: this.classroomId,
        userId,
      });
  }
  private deleteClassroomUserModal(userId) {
    this.selectedUser = userId;
    this.dialogDeleteUser = true;
  }
  private deleteClassroomUser() {
    this.$store.dispatch(
      'classrooms/deleteClassroomUser',
      {
        classroomId: this.classroomId,
        userId: this.selectedUser,
      })
      .then(() => {
        this.dialogDeleteUser = false;
        this.selectedUser = '';
      });
  }
  private mounted() {
    this.$store.dispatch('classrooms/getClassroom', this.classroomId);
  }
  private searchByName(newVal: string) {
    const self = this;
    if (newVal && newVal.length > 1) {
     axios
      .get(`/search/users?users=true&egroups=false&name=${newVal}`,
      {
        withCredentials: true,
      })
      .then((response) => {
        self.userNames = response.data;
      })
      .catch((error) => {
        return Promise.reject(new Error(error));
      });
    }
  }
  private addStudent() {
    this.$store.dispatch(
      'classrooms/addClassroomUser',
      {
        classroomId: this.classroomId,
        userId: this.newStudent['user_id'],
      })
      .then(() => {
        this.newStudent = '';
        this.userNames = [];
        this.searchUserByName = '';
      });
  }
}
</script>
<style scoped>
>>> .no-overflow .v-btn__content {
  width: inherit!important;
}
</style>