<template>
    <v-container fluid grid-list-md>
      <v-layout v-if="isMe" row wrap>
        <v-flex sm3>
          <v-card height="100%" class="text-sm-center">
            <v-toolbar-title style="padding: 5px;">
              <user-name :userId="userId"/>
            </v-toolbar-title>
            <v-card-text >
              <student-classroom-progress-chart :userId="userId" :classroomId="classroomId"/>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex sm9>
          <v-card height="100%">
            <v-toolbar-title style="padding: 5px;">
              <Student-Classroom-Progress-Graph :userId="userId" :classroomId="classroomId"/>
            </v-toolbar-title>
            <v-card-text >
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex sm3>
          <v-card height="100%">
            <v-toolbar-title style="padding: 5px;">
            </v-toolbar-title>
            <v-card-text >
              <div v-for="trainingId in userTrainings" :key="trainingId" @click="selectedTrainingId = trainingId" style="cursor:pointer;">
                <training-details :trainingId="trainingId"/>
                <student-training-progress-bar :userId="userId" :trainingId="trainingId" :classroomId="classroomId"/>
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex sm9>
          <v-card height="100%">
            <v-toolbar-title style="padding: 5px;">
              <training-details v-if="selectedTrainingId" :trainingId="selectedTrainingId"/>
            </v-toolbar-title>
            <v-card-text >
             <table v-if="selectedTrainingId" width="100%" cellspacing="0" style="text-align: center;">
              <thead>
                <tr>
                  <th width="10"></th>
                  <th></th>
                  <th>
                        <v-tooltip top>
                          <template v-slot:activator="{ on }">
                            <v-icon v-on="on">mdi-calendar-heart</v-icon>
                          </template>
                          Date Started
                        </v-tooltip>
                  </th>
                  <th>
                        <v-tooltip top>
                          <template v-slot:activator="{ on }">
                            <v-icon v-on="on">mdi-calendar-star</v-icon>
                          </template>
                          Date Completed
                        </v-tooltip>
                  </th>
                  <th>
                        <v-tooltip top>
                          <template v-slot:activator="{ on }">
                            <v-icon v-on="on">mdi-calendar-check</v-icon>
                          </template>
                          Validated By
                        </v-tooltip>
                  </th>
                  <th>
                        <v-tooltip top>
                          <template v-slot:activator="{ on }">
                            <v-icon v-on="on">mdi-calendar-alert</v-icon>
                          </template>
                          Deadline
                        </v-tooltip>
                  </th>
                  <th>
                        <v-tooltip top>
                          <template v-slot:activator="{ on }">
                            <v-icon v-on="on">mdi-account-check</v-icon>
                          </template>
                          Validators
                        </v-tooltip>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="course in courses" :key="course.edmsId">
                  <td>
                    <v-btn small tile  style="color:white; width:95%; margin-right:10px;margin-bottom:5px;" :color="course.color" @click="updateCourseStatus(course)">
                      {{actionForStatus(course.status)}}
                    </v-btn>
                  </td>
                  <td style="text-align: left;">
                    <a :href="`https://edms.cern.ch/document/${course.edmsId}`" target="_blank" style="text-decoration: none;">
                      <course-title :edmsId="course.edmsId" style="font-size:1.1rem;color: #424242;"/>
                    </a>
                  </td>
                  <td>{{course.date_start || '-'}}</td>
                  <td>{{course.date_end || '-'}}</td>
                  <td>
                    <user-name v-if="course.validated_by" :userId="course.validated_by"/>
                  </td>
                  <td>
                    <span :class="{'text-red': course.status === 'Overdue' || course.status === 'Expired'}">
                      {{course.deadline}}
                    </span>
                  </td>
                  <td>
                    <div>
                      <user-name v-for=" r in course.responsible" :key="r" :userId="r">  </user-name>
                    </div>
                  </td>
                </tr>
              </tbody>
              </table>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
      <div v-else >No Peeping!</div>
    </v-container>
</template>

<script lang="ts">

  import { Component, Vue, Prop, Watch } from 'vue-property-decorator';

  import TrainingDetails from '@/components/TrainingDetails.vue';
  import StudentTrainingProgressBar from '@/components/StudentTrainingProgressBar.vue';
  import StudentClassroomProgressChart from '@/components/StudentClassroomProgressChart.vue';
  import StudentClassroomProgressGraph from '@/components/StudentClassroomProgressGraph.vue';
  import CourseTitle from '@/components/CourseTitle.vue';
  import UserName from '@/components/UserName.vue';
  import { groupBy } from 'lodash';

  @Component({
    components: {
      TrainingDetails,
      StudentTrainingProgressBar,
      StudentClassroomProgressChart,
      StudentClassroomProgressGraph,
      CourseTitle,
      UserName,
    },
  })
    export default class StudentClassroom extends Vue {
    @Prop(String) protected readonly userId;
    @Prop(Number) protected readonly classroomId;
    private selectedTrainingId = null;
    @Watch('userId')
    private updateUser(newVal: any) {
      this.$store.dispatch('users/getUserInfo', newVal);
      this.$store.dispatch('courses/getUserCourses', {userId: newVal});
    }
    @Watch('classroomId')
    get currentUserId() {
      if (this.$store.state.users.current) {
        return this.$store.state.users.current;
      }
    }
    get isMe() {
      return this.userId === this.currentUserId;
    }
    get userCoursesByClassroom() {
      return this.$store.getters['courses/userCoursesByClassroom']( this.userId, this.classroomId );
    }
    get userCoursesBytDate() {
      return {...groupBy(this.userCoursesByClassroom, 'date_start'), ...groupBy(this.userCoursesByClassroom, 'date_end')};
    }
    get userTrainings() {
      return [ ...new Set(this.userCoursesByClassroom.map((item) => item.training_id))];
    }
    get courses() {
      if (this.selectedTrainingId) {
        return this.$store.getters['courses/userCoursesByTraining']
        (
          this.userId,
          this.selectedTrainingId,
          this.classroomId,
        );
      }
    }
    private updateCourseStatus(course) {
      const action = this.actionForStatus(course.status);
      if (action === 'Start') {
        this.$store.dispatch('courses/startUserCourse', {userId: this.userId, edmsId: course.edmsId} );
        window.open(`https://edms.cern.ch/document/${course.edmsId}`, '_blank');
      }
      if (action === 'Finish') {
        this.$store.dispatch('courses/completeUserCourse', {userId: this.userId, edmsId: course.edmsId} );
      }

    }
    private actionForStatus(status) {
      switch (status) {
        case 'Overdue':
          return 'Start';
        case 'Expired':
          return 'Finish';
        case 'Started':
          return 'Finish';
        case 'Validation':
          return 'Validating';
        case 'Completed':
          return 'Done';
        case 'New':
          return 'Start';
        default:
          break;
      }
    }
    private mounted() {
      this.$store.dispatch('users/getUserInfo', this.userId);
      this.$store.dispatch('classrooms/getClassroom', this.classroomId);
      this.$store.dispatch('courses/getUserCourses', {userId: this.userId});
    }
  }
</script>
<style scoped>
tbody tr:nth-child(odd){
  background-color: #efefef;
}
.text-red {
  color: red;
}
</style>