<template>
    <v-container fluid grid-list-md>
      <v-layout v-if="isClassroomAdmin" row wrap>
        <v-flex sm3>
          <v-card height="100%" class="text-sm-center">
            <v-toolbar-title style="padding: 5px;">
              <user-name :userId="userId"/>
            </v-toolbar-title>
            <v-card-text >
              <student-classroom-progress-chart :userId="userId" :classroomId="classroomId"/>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex sm9>
          <v-card height="100%">
            <v-card-text >
              <Student-Classroom-Progress-Graph :userId="userId" :classroomId="classroomId"/>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex sm3>
          <v-card height="100%">
            <v-card-text >
            
              <draggable v-model="userTrainings" handle=".handle">
                <div v-for="trainingId in userTrainings" :key="trainingId" @click="selectedTrainingId = trainingId" style="cursor:pointer;">
                  <training-details :trainingId="trainingId">
                    <v-icon class="handle" @click.stop color="grey">mdi-sort</v-icon>&nbsp;
                  </training-details>
                  <student-training-progress-bar :userId="userId" :trainingId="trainingId" :classroomId="classroomId"/>
                </div>
              </draggable>

              <v-dialog width="50%" v-model="trainingModal">
                <template v-slot:activator="{ on }">
                  <v-btn v-on="on" dark small absolute top right fab >
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                </template>
                <student-classroom-edit-training-modal :userIds="[userId]"  :classroomId="classroomId" @closeModal="trainingModal = false"/>
              </v-dialog>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex sm9>
          <v-card height="100%">
            <v-toolbar-title style="padding: 5px;">
              <training-details v-if="selectedTrainingId" :trainingId="selectedTrainingId">
                <v-btn small icon @click.stop="removeTrainingCourses(selectedTrainingId)"><v-icon >mdi-delete</v-icon></v-btn>
              </training-details>
            </v-toolbar-title>
            <v-card-text >
             <table v-if="selectedTrainingId" width="100%" cellspacing="0" style="text-align: center;">
              <thead>
                <tr>
                  <th width="10"></th>
                  <th width="10"></th>
                  <th></th>
                  <th>
                        <v-tooltip top>
                          <template v-slot:activator="{ on }">
                            <v-icon v-on="on">mdi-calendar-heart</v-icon>
                          </template>
                          Date Started
                        </v-tooltip>
                  </th>
                  <th>
                        <v-tooltip top>
                          <template v-slot:activator="{ on }">
                            <v-icon v-on="on">mdi-calendar-star</v-icon>
                          </template>
                          Date Completed
                        </v-tooltip>
                  </th>
                  <th>
                        <v-tooltip top>
                          <template v-slot:activator="{ on }">
                            <v-icon v-on="on">mdi-calendar-check</v-icon>
                          </template>
                          Validated By
                        </v-tooltip>
                  </th>
                  <th>
                        <v-tooltip top>
                          <template v-slot:activator="{ on }">
                            <v-btn v-on="on" small icon>
                              <v-icon @click.stop="deadlineModal = true; selectedCourseId = 'all'">mdi-calendar-alert</v-icon>
                            </v-btn>
                          </template>
                          Deadline
                        </v-tooltip>
                  </th>
                  <th colspan="2">
                        <v-tooltip top>
                          <template v-slot:activator="{ on }">
                            <v-btn v-on="on" small icon>
                              <v-icon @click.stop="validatorModal = true; selectedCourseId = 'all'; selectedCourseValidators = [];">mdi-account-check</v-icon>
                            </v-btn>
                          </template>
                          Validators
                        </v-tooltip>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="course in courses" :key="course.edmsId">
                  <td>
                    <v-icon v-if="course.status" icon @click.stop="removeTrainingCourse(course.edmsId)" class="icon-align">mdi-delete</v-icon>
                    <v-icon v-else icon @click.stop="addTrainingCourse(course.edmsId)" class="icon-align">mdi-plus-circle</v-icon>
                  </td>
                  <td>
                    <v-tooltip v-if="course.status" top :color="course.color">
                      <template v-slot:activator="{ on }">
                        <v-icon v-on="on"  :color="course.color" :title="course.status" class="icon-align">mdi-circle</v-icon>
                      </template>
                      <span>{{course.status}}</span>
                    </v-tooltip>
                  </td>
                  <td style="text-align: left;">
                    <a :href="`https://edms.cern.ch/document/${course.edmsId}`" target="_blank" style="text-decoration: none;">
                      <course-title :edmsId="course.edmsId" style="font-size:1.1rem;color: #424242;"/>
                    </a>
                  </td>
                  <td>{{course.date_start || '-'}}</td>
                  <td>{{course.date_end || '-'}}</td>
                  <td>
                    <user-name v-if="course.validated_by" :userId="course.validated_by"/>
                    <span v-if="course.status === 'Validation' && course.responsible.includes(currentUser)">
                      <v-btn small color="green" dark text @click="validateCourse(course.edmsId)">Validate</v-btn>
                    </span>
                  </td>
                  <td>
                    {{course.deadline}}
                    <v-icon v-if="course.deadline" color="grey"  small @click="selectedCourseId = course.edmsId; deadline = null; setDeadline()">mdi-delete</v-icon>
                    <v-icon v-else small @click.stop="deadlineModal = true; selectedCourseId = course.edmsId">mdi-calendar-alert</v-icon>
                  </td>
                  <td>
                    <v-icon small @click.stop="validatorModal = true; selectedCourseId = course.edmsId; selectedCourseValidators = course.responsible.slice(0)">mdi-account-check</v-icon>
                  </td>
                  <td style="text-align: left;">
                    <user-name v-for=" r in course.responsible" :key="r" :userId="r" >  </user-name>
                  </td>
                </tr>
              </tbody>
              </table>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
      <v-dialog
        v-model="deadlineModal"
        width="290px"
      >
        <v-date-picker v-model="deadline" @input="setDeadline()"></v-date-picker>
      </v-dialog>
      <v-dialog
        v-model="validatorModal"
        width="490px"
      >
      <v-card>
        <v-toolbar dark flat>
          <v-toolbar-title>Set Course Validators</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <div v-for="v in selectedCourseValidators" :key="v">
            <user-name :userId="v">
              <v-icon small color="grey" style="cursor:pointer" @click="deleteValidator(v)">mdi-delete</v-icon>
            </user-name>
          </div>
            <v-autocomplete
              ref="validatorSearchField"
              v-model="newValidator"
              label="Search User"
              :items="userNames"
              :search-input.sync="searchUserByName"
              hide-no-data
              item-text="display_name"
              item-value="user_id"
              :return-object="false"
              no-filter
              clearable
              @input="addValidator"
            >
            </v-autocomplete>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="setValidator()">SAVE</v-btn>
        </v-card-actions>
      </v-card>
      </v-dialog>
    </v-container>
</template>

<script lang="ts">

  import { Component, Vue, Prop, Watch } from 'vue-property-decorator';

  import TrainingDetails from '@/components/TrainingDetails.vue';
  import StudentClassroomProgressChart from '@/components/StudentClassroomProgressChart.vue';
  import StudentTrainingProgressBar from '@/components/StudentTrainingProgressBar.vue';
  import StudentClassroomProgressGraph from '@/components/StudentClassroomProgressGraph.vue';
  import StudentClassroomEditTrainingModal from '@/components/StudentClassroomEditTrainingModal.vue';
  import CourseTitle from '@/components/CourseTitle.vue';
  import UserName from '@/components/UserName.vue';
  import { groupBy, debounce } from 'lodash';
  import axios from 'axios';
  import draggable from 'vuedraggable';

  @Component({
    components: {
      TrainingDetails,
      StudentClassroomProgressChart,
      StudentTrainingProgressBar,
      StudentClassroomProgressGraph,
      StudentClassroomEditTrainingModal,
      CourseTitle,
      UserName,
      draggable,
    },
    watch: {
      searchUserByName: debounce(function(this: any, newVal, oldVal) {
        this.searchByName(newVal);
      }, 750),
    },
  })
    export default class StudentClassroomEdit extends Vue {
    @Prop(String) protected readonly userId;
    @Prop(Number) protected readonly classroomId;
    private selectedTrainingId = null;
    private deadline = null;
    private validator = null;
    private deadlineModal = false;
    private validatorModal = false;
    private trainingModal = false;
    private selectedCourseId = 'all';
    private selectedCourseValidators: string[] = [];
    private newValidator: string|null = null;
    private searchUserByName: string|null = '';
    private userNames: string[] = [];
    private allTrainingCoursesSelected = false;
    private date = new Date().toISOString().substr(0, 10);
    @Watch('userId')
    private updateUser(newVal: any) {
      this.$store.dispatch('users/getUserInfo', newVal);
      this.$store.dispatch('courses/getUserCourses', {userId: newVal});
    }
    @Watch('validatorModal')
    private setFocusOnValidatorSearchField(newVal: any) {
      if (newVal) {
        // Dirty trick to wait for dialog to appear and select be
        // created and attached to DOM to be able to set focus on it
        setTimeout(() => {
          (this.$refs.validatorSearchField as HTMLElement).focus();
        }, 500);
      }
    }
    get currentUser() {
      return this.$store.state.users.current;
    }
    // @Watch('classroomId')
    get isClassroomAdmin() {
      if (this.$store.state.classrooms.all[this.classroomId]) {
        return this.$store.state.classrooms.all[this.classroomId].admins.includes(this.$store.state.users.current);
      }
    }
    get userCoursesByClassroom() {
      return this.$store.getters['courses/userCoursesByClassroom']( this.userId, this.classroomId );
    }
    get userTrainings() {
      // need to sort them by training position in frontend? Sorted in backend by TRAINING_POS, seems to work ;-)
      return [ ...new Set(this.userCoursesByClassroom.map((item) => item.training_id))];
    }
    set userTrainings(trainings) {
      this.$store.dispatch(
        'trainings/userClassroomTrainingsOrder',
        {
          classroomId: this.classroomId,
          userId: this.userId,
          trainings,
        });
    }
    get userTrainingCourses() {
      if (this.selectedTrainingId) {
        return this.$store.getters['courses/userCoursesByTraining']
        (
          this.userId,
          this.selectedTrainingId,
          this.classroomId,
        );
      }
      return [];
    }
    get allTrainingCourses() {
      const trainingId = this.selectedTrainingId;
      if (trainingId && this.$store.state.trainings.all[trainingId]) {
        return this.$store.state.trainings.all[trainingId].courses;
      }
      return [];
    }
    get courses() {
      const res: any[] = [];
      this.allTrainingCourses.forEach((tc) => {
        const course = this.userTrainingCourses.filter((c) => {
          return (c.edmsId === tc.edms && c.classroom_id === this.classroomId);
        });
        if (course.length) {
          res.push(course[0]);
        } else {
          res.push({
            edmsId: tc.edms,
          });
        }
      });
      return res;
    }
    private removeTrainingCourse(edmsId) {
      this.$store.dispatch(
        'courses/removeUserCourse',
        {classroomId: this.classroomId, userId: this.userId, trainingId: this.selectedTrainingId, edmsId});
    }
    private addTrainingCourse(edmsId) {
      this.$store.dispatch(
        'courses/addUserCourse',
        {classroomId: this.classroomId, userId: this.userId, trainingId: this.selectedTrainingId, edmsId});
    }
    private removeTrainingCourses(trainingId) {
      this.$store.dispatch(
        'courses/deleteUserTrainingCourses',
        {classroomId: this.classroomId, userId: this.userId, trainingId})
      .then(() => {
        this.selectedTrainingId = null;
      });
    }
    private setDeadline() {
      if (this.selectedCourseId !== 'all') {
        this.$store.dispatch(
          'courses/setUserCourseDeadline',
          {
            classroomId: this.classroomId,
            userId: this.userId,
            trainingId: this.selectedTrainingId,
            edmsId: this.selectedCourseId,
            deadline: this.deadline,
          });
      } else {
        this.userTrainingCourses.forEach((c) => {
          this.$store.dispatch(
            'courses/setUserCourseDeadline',
            {classroomId: this.classroomId,
            userId: this.userId,
            trainingId: this.selectedTrainingId,
            edmsId: c.edmsId,
            deadline: this.deadline,
          });
        });
      }
    }
    private setValidator() {
      const responsible = this.selectedCourseValidators.join();
      if (this.selectedCourseId !== 'all') {
        this.$store.dispatch(
          'courses/setUserCourseValidators',
          {
            classroomId: this.classroomId,
            userId: this.userId,
            trainingId: this.selectedTrainingId,
            edmsId: this.selectedCourseId,
            responsible,
          });
      } else {
        this.userTrainingCourses.forEach((c) => {
          this.$store.dispatch(
            'courses/setUserCourseValidators',
            {
              classroomId: this.classroomId,
              userId: this.userId,
              trainingId: this.selectedTrainingId,
              edmsId: c.edmsId, responsible,
            });
        });
      }
      // Shoild be in the promise resolve together with get user courses
      this.validatorModal = false;
    }
    private searchByName(newVal: string) {
      const self = this;
      if (newVal && newVal.length > 1) {
      axios
        .get(`/search/users?users=true&egroups=false&name=${newVal}`,
        {
          withCredentials: true,
        })
        .then((response) => {
          self.userNames = response.data;
        })
        .catch((error) => {
          return Promise.reject(new Error(error));
        });
      }
    }
    private addValidator() {
      if (this.newValidator && this.userNames.length && !this.selectedCourseValidators.includes(this.newValidator)) {
        this.selectedCourseValidators.push(this.newValidator);
      }
      this.searchUserByName = null;
      this.newValidator = null;
      this.userNames = [];
    }
    private deleteValidator(validator) {
      this.selectedCourseValidators = this.selectedCourseValidators.filter((v) => v !== validator);
    }
    private validateCourse(courseId) {
      this.$store.dispatch('courses/validateUserCourse', {userId: this.userId, edmsId: courseId});
    }
    private mounted() {
      this.$store.dispatch('users/getUserInfo', this.userId);
      this.$store.dispatch('classrooms/getClassroom', this.classroomId);
      this.$store.dispatch('courses/getUserCourses', {userId: this.userId});
    }

  // private beforeRouteLeave(to, from, next) {
  //   // Before leaving edit page refresh user's courses
  //   this.$store.dispatch('courses/getUserCourses', {userId: this.userId, refresh: true}).then(() => {
  //     next();
  //   });
  // }

  }
</script>
<style scoped>
.icon-align {
  margin:0 5px 5px 0;
}
tbody tr:nth-child(odd){
  background-color: #efefef;
}
.handle {
  cursor: ns-resize!important;
}
</style>