<template>
  <v-layout row wrap style="margin-top:50px;">
    <v-flex md10 offset-md1 sm12>
      <v-card>
       <v-toolbar color="secondary" dark text>
          <v-toolbar-title>Trainings</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-dialog scrollable v-model="showEditModal" >
            <template v-slot:activator="{ on }">
              <v-btn icon text v-on="on" @click="selectedTraining = null">
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </template>
            <trainings-create-edit-modal :trainigId="selectedTraining" @closeModal="showEditModal = false; selectedTraining = null" />
          </v-dialog>
        </v-toolbar>
        <v-form @submit.prevent="searchTrainings()">
          <v-container>
            <v-layout>
              <v-flex md4>
                <v-select
                  v-model="groupSelected"
                  :items="trainingGroupsArray"
                  item-text="group_name"
                  item-value="id"
                  clearable
                  label="Groups"
                  @change="searchResults = []"
                ></v-select>
              </v-flex>
              <v-flex md5>
                <v-text-field
                  v-model="searchText"
                  label="Search Title or Description"
                  clearable
                  @input="searchResults = []"
                ></v-text-field>
              </v-flex>
              <v-flex md2>
                <v-checkbox 
                  v-model="myTrainingsOnly"
                  label="Only My Trainings"
                  @change="searchTrainings()"
              ></v-checkbox>
              </v-flex>
              <v-flex md1>
                <v-btn icon color="primary" type="submit" :disabled="!searchText && !myTrainingsOnly && !groupSelected" >
                  <v-icon>mdi-magnify</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>

       <v-list two-line>
        <draggable v-model="searchResults" handle=".handle">
          <v-list-group
            v-for="(item, index) in searchResults"
            :key="index"
            append-icon=''
            class="list-item-border"
            v-model="item.active"
          >
          <template v-slot:activator >
            <v-list-item>
              <v-btn v-if="sortGroup" class="handle" @click.stop=""  text fab small >{{ getTrainingPosition(groupSelected, item.id) }}</v-btn>
              <v-list-item-content>
                <v-list-item-title>
                  <v-icon 
                    v-if="isTrainingAdmin(item.responsible)"
                    color="primary"
                    @click.stop="editTraining(item.id)">
                    mdi-pencil
                  </v-icon>

                  <v-icon 
                    v-if="isTrainingAdmin(item.responsible)"
                    color="primary"
                    @click.stop="showDeleteTrainingModal(item.id)">
                    mdi-delete
                  </v-icon>

                  {{ item.title }}
                </v-list-item-title>
                <v-list-item-subtitle class="text--primary ">{{ item.description }}</v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-action class="hidden-md-and-down">
                <v-list-item-action-text>
                  <v-chip small label outlined color="primary" style="margin-left:3px;" @click.stop="searchWithGroup(group)" v-for="group in item.groups" :key="group">
                    {{groupName(group)}}
                  </v-chip>
                </v-list-item-action-text>
                <v-list-item-action-text>
                  <b><user-name :userId="item.responsible" /></b> {{ item.updated }}</v-list-item-action-text>
              </v-list-item-action>
            </v-list-item>
          </template>
            <div :key="index">
              <training-courses v-if="item.active" :courses="item.courses" />
            </div>
          </v-list-group>
         </draggable>
        </v-list>

      </v-card>
    </v-flex>

      <v-dialog v-model="showDeleteModal" max-width="290">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="orange" text @click="showDeleteModal = false">No, Cancel</v-btn>
            <v-btn color="primary" text @click="deleteTraining()">Yes, Remove it</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

  </v-layout>
</template>

<script lang="ts">
interface TrainingOrder {
  id: number;
  position: number;
}
import { Component, Vue, Watch } from 'vue-property-decorator';
import TrainingsCreateEditModal from '@/components/TrainingsCreateEditModal.vue';
import TrainingCourses from '@/components/TrainingCourses.vue';
import UserName from '@/components/UserName.vue';
import draggable from 'vuedraggable';

@Component({
    components: {
      draggable,
      TrainingCourses,
      UserName,
      TrainingsCreateEditModal,
  },
})
export default class Trainings extends Vue {
  private searchText = '';
  private myTrainingsOnly = false;
  private searchResults = [];
  private groupSelected: number | null = null;
  private selectedTraining: number | null = null;
  private showEditModal = false;
  private showDeleteModal = false;
  @Watch('showEditModal')
  private refreshSearch(newVal) {
    // Refresh result when closing modal
    if (!newVal) {
      this.searchTrainings();
    }
  }
  @Watch('searchResults')
  private updateOrder(newVal: any, oldVal: any) {
    if (!this.groupSelected || !newVal.length || !oldVal.length || oldVal === newVal) {
      return;
    }
    const trainings: TrainingOrder[] = [];
    newVal.forEach((el, index) => {
      trainings.push({ id: el.id, position: index + 1 });
    });
    this.$store.dispatch('groups/updateGroupTrainingOrder', { groupId: this.groupSelected, trainings });
  }
  get trainingGroups() {
    return this.$store.state.groups.all;
  }
  get sortGroup() {
    return (
      !this.searchText
      && !this.myTrainingsOnly
      && this.groupSelected
      && ( this.trainingGroups[this.groupSelected].admin === this.currentUser )
    );
  }
  get trainingGroupsArray() {
    return this.$store.getters['groups/trainingGroupsArray'];
  }
  get currentUser() {
    return this.$store.state.users.current;
  }
  private isTrainingAdmin(responsible) {
    return responsible === this.currentUser;
  }
  private searchTrainings() {
    if (!this.searchText && !this.myTrainingsOnly && !this.groupSelected) {
      this.searchResults = [];
      return;
    }
    const admin = this.myTrainingsOnly ? this.currentUser : null;
    this.$store.dispatch(
      'trainings/searchTrainings',
      {admin, text: this.searchText, groupId: this.groupSelected})
    .then((res) => {
      if (res && res.length > 1 && this.sortGroup && this.groupSelected) {
        const trainings = this.trainingGroups[this.groupSelected].trainings;
        res.sort((a, b) => {
          const pos1 = trainings.find((e) => e.id === a.id).position;
          const pos2 = trainings.find((e) => e.id === b.id).position;
          return pos1 - pos2;
        });
      }
      this.searchResults = res;
    });
  }
  private searchWithGroup(group) {
    this.groupSelected = group;
    this.searchTrainings();
  }
  private mounted() {
    this.$store.dispatch('groups/getAllGroups');
  }
  private editTraining(trainingId) {
    this.selectedTraining = trainingId;
    this.showEditModal = true;
  }
  private showDeleteTrainingModal(trainingId) {
    this.selectedTraining = trainingId;
    this.showDeleteModal = true;
  }
  private deleteTraining() {
    this.$store.dispatch(
      'trainings/deleteTraining',
      {
        trainingId: this.selectedTraining,
      })
      .then(() => {
        this.searchTrainings();
        this.showDeleteModal = false;
        this.selectedTraining = null;
      });
  }
  private groupName(groupId) {
    if (this.trainingGroups && this.trainingGroups[groupId]) {
      return this.trainingGroups[groupId].group_name;
    }
  }
  private getTrainingPosition(groupId, trainingId) {
    const order = this.trainingGroups[groupId].trainings;
    return order.find((el) => el.id === trainingId).position || '?';
  }
}
</script>
<style scoped>
.list-item-border:not(:last-child) {
  border-bottom: 1px solid lightgray;
}
.handle {
  cursor: ns-resize;
}
</style>